button {
  background-color: transparent;
  font-family: inherit;
  &:focus {
    outline: none;
  }
}

.custom-button {
  border: 1px solid #06aa51;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
  height: 42px;
  text-transform: uppercase;
  width: 120px;

  &:focus {
    border: 3px solid #06aa51;
  }

  &.google-sign-in {
    border: 1px solid #4285f4;
    &:focus {
      border: 3px solid #4285f4;
    }
  }
}
