.collection-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 22vw;
  position: relative;
  margin: 0 5px;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .location {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .custom-button {
    position: absolute;
    bottom: 10%;
    display: none;
  }

  &:hover {
    .image {
      opacity: 0.8;
    }
    .custom-button {
      display: block;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    // padding: 0 10%;

    .name {
      width: auto;
      margin-bottom: 15px;
    }

    .price {
      width: auto;
    }
  }
}
